<div class="container">
    <div class="row mb-4">
      <div class="col text-center">
        <h1 class="display-4">Pokemons</h1>
      </div>
    </div>

    <!-- pokemon.component.html - Agregar después del título -->
<div class="row mb-4">
  <div class="col-md-6 mx-auto">
    <div class="input-group">
      <input 
        type="text" 
        class="form-control" 
        [(ngModel)]="searchTerm"
        placeholder="Busqueda"
        (keyup.enter)="onSearch()">
      <button 
        class="btn btn-warning" 
        type="button"
        (click)="onSearch()">
         Buscar
      </button>
    </div>
  </div>
</div>
  
    <!-- Error Message -->
    <div class="alert alert-danger" *ngIf="error">
      {{ error }}
    </div>

      <!-- Pagination -->
      <app-pagination
      *ngIf="totalItems > 0"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)">
    </app-pagination>
  
  
    <!-- Pokemon Cards -->
    <app-card-list
      [items]="pokemons"
      (cardClick)="onPokemonClick($event)">
    </app-card-list>
  
    <!-- Pagination -->
    <app-pagination
      *ngIf="totalItems > 0"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)">
    </app-pagination>



    <!-- Modal para mostrar detalles del Pokémon -->
  <div class="modal fade" [class.show]="selectedPokemon" id="pokemonModal" tabindex="-1"
  [style.display]="selectedPokemon ? 'block' : 'none'" role="dialog">
<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <h5 class="modal-title">{{ selectedPokemon?.name }}</h5>
     <button type="button" class="btn-close" (click)="closeModal()"></button>
   </div>
   <div class="modal-body" *ngIf="selectedPokemon">
     <div class="text-center mb-3">
       <img [src]="selectedPokemon.image" [alt]="selectedPokemon.name" class="img-fluid rounded">
     </div>
     <p><strong>Tipo:</strong> {{ selectedPokemon.race }}</p>
     <p><strong>Poder:</strong> {{ selectedPokemon.ki }}</p>
     <p><strong>Descripción:</strong> {{ selectedPokemon.description }}</p>
   </div>
 </div>
</div>
</div>
  
    <!-- Results Message -->
    <div class="text-center my-5" *ngIf="!loading && pokemons.length === 0">
      <p class="lead text-muted">No se encontraron Pokémon</p>
    </div>
  </div>