<div class="w-50 shadow-sm p-4 mx-auto mt-4">
  <h1>Agregar nuevo trabajador</h1>
  <form [formGroup]="trabajadorForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" id="nombre" class="form-control" formControlName="nombre" />
    </div>
    <div *ngIf="trabajadorForm.get('nombre')?.invalid && trabajadorForm.get('nombre')?.touched"
      class="text-danger mb-2">
      El nombre es obligatorio.
    </div>


    <div class="mb-3">
      <label for="apellido" class="form-label">Apellido</label>
      <input type="text" id="apellido" class="form-control" formControlName="apellido" />
    </div>
    <div *ngIf="trabajadorForm.get('apellido')?.invalid && trabajadorForm.get('apellido')?.touched"
      class="text-danger mb-2">
      El apellido es obligatorio.
    </div>

    <div class="mb-3">
      <label for="puesto" class="form-label">Puesto</label>
      <select id="puesto" class="form-control" formControlName="puesto">
        <option value="" disabled selected>Seleccione un puesto</option>
        <option value="Cajero">Cajero</option>
        <option value="Farmacéutico">Farmacéutico</option>
        <option value="Auxiliar de Farmacia">Auxiliar de Farmacia</option>
        <option value="Gerente">Gerente</option>
        <option value="Encargado de Inventario">Encargado de Inventario</option>
        <option value="Repartidor">Repartidor</option>
        <option value="Limpieza">Limpieza</option>
      </select>
    </div>
    <div *ngIf="trabajadorForm.get('puesto')?.invalid && trabajadorForm.get('puesto')?.touched"
      class="text-danger mb-2">
      El puesto es obligatorio.
    </div>

    <div class="mb-3">
      <label for="horario" class="form-label">Horario</label>
      <select id="horario" class="form-control" formControlName="horario">
        <option value="" disabled selected>Seleccione su jornada de trabajo</option>
        <option value="En la mañana">Por la mañana</option>
        <option value="En la tarde">Por la tarde</option>
        <option value="Nocturno">Nocturno</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="salario" class="form-label">Salario</label>
      <input type="number" id="salario" class="form-control" formControlName="salario" />
    </div>
    <div *ngIf="trabajadorForm.get('salario')?.invalid && trabajadorForm.get('salario')?.touched"
      class="text-danger mb-2">
      El salario es obligatorio.
    </div>

    <div class="mb-3">
      <label for="telefono_contacto" class="form-label">Teléfono de Contacto</label>
      <input type="text" id="telefono_contacto" class="form-control" formControlName="telefono_contacto"
        maxlength="10" />
    </div>
    <div *ngIf="trabajadorForm.get('telefono_contacto')?.invalid && trabajadorForm.get('telefono_contacto')?.touched"
      class="text-danger mb-2">
      <div *ngIf="trabajadorForm.get('telefono_contacto')?.errors?.['required']">
        El teléfono de contacto es obligatorio.
      </div>
      <div *ngIf="trabajadorForm.get('telefono_contacto')?.errors?.['pattern']">
        Solo se permiten caracteres numéricos.
      </div>
      <div
        *ngIf="trabajadorForm.get('telefono_contacto')?.errors?.['minlength'] || trabajadorForm.get('telefono_contacto')?.errors?.['maxlength']">
        El teléfono debe tener exactamente 10 dígitos.
      </div>
    </div>



    <button type="submit" class="btn btn-warning me-2" [disabled]="trabajadorForm.invalid">
      Guardar
    </button>
    <button type="button" class="btn btn-secondary" (click)="router.navigate(['/miapi/list'])">
      Cancelar
    </button>
  </form>
</div>
